//
// ng-dygraphs
.ng-dygraphs {
  .legend {
    width: auto;
    margin: 3px 8px;
    padding: 2px 5px;
    border: 1px @legend-border-color solid;
    -webkit-border-radius: @border-radius-base;
    -moz-border-radius: @border-radius-base;
    -ms-border-radius: @border-radius-base;
    -o-border-radius: @border-radius-base;

    .series-container {
      text-align:center;

      .series {
        padding: 0px 10px;
        display: inline-block;
        float: center;

        a {
          text-decoration: none;
        }

        a:hover {
          cursor: pointer;
        }
      }
    }
  }
}

//
// DyGraphs customisation
.dygraph-axis-label {
  color: @legend-color;
  font-size: @font-size-small;
}

.dygraph-legend {
  background-color: @tooltip-bg !important;
}
