//
// ng-dygraphs
.ng-dygraphs {
  .legend {
    margin:3px 8px;
    border: 1px white solid;
    -webkit-border-radius: @border-radius-base;
    -moz-border-radius: @border-radius-base;
    -ms-border-radius: @border-radius-base;
    -o-border-radius: @border-radius-base;

    .series {
      width:250px;
      display: inline-block;
    }
  }
}

//
// DyGraphs customisation
.dygraph-axis-label {
  color: @legend-color;
  font-size: @font-size-small;
}

.dygraph-legend {
  background-color: @tooltip-bg !important;
}
